<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>Places I've Been</h1>

    <form action="/places" method="post">
      <label for="cityName">Add a City Name</label>
      <input id="cityName" name="cityName" type="text">

      <label for="date">Add a Travel Date</label>
      <input id="date" name="date" type="text">

      <label for="companion">Add a Companion</label>
      <input id="companion" name="companion" type="text">

      <label for="journal">Add a Journal Entry</label>
      <textarea id="journal" name="journal" type="text"></textarea>
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
