<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>Travel Details: </h1>

    <h2>@Model.CityName</h2>
    <h5>Dates: @Model.Date</h5>
    <h5>Who I traveled with: @Model.Companion</h5>
    <p>@Model.Journal</p>

    <a href='/places/new'>Add another place</a>
    <a href='/places'>View all places</a>

  </body>
</html>
